<?xml version="1.0"?>

<model>
  <name>CTU-MRS RoboFly with pitch gimbal</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>CTU-MRS</name>
  </author>


  <description>
    CTU-MRS RoboFly dynamics connected to ArduPilot, with the project's
    unchanged gimbal_small_2d pitch gimbal and camera assembly.
  </description>
  <depend>
    <model>
      <uri>model://gimbal_small_2d</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://robofly</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
