<?xml version="1.0"?>

<model>
  <name>RotorS Hummingbird with pitch gimbal</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Fadri Furrer</name>
    <email>fadri.furrer@mavt.ethz.ch</email>
  </author>
  <author>
    <name>Michael Burri</name>
  </author>
  <author>
    <name>Mina Kamel</name>
  </author>
  <author>
    <name>Janosch Nikolic</name>
  </author>
  <author>
    <name>Markus Achtelik</name>
  </author>

  <maintainer email="hsu@osrfoundation.org">john hsu</maintainer>


  <description>
    RotorS Hummingbird dynamics connected to ArduPilot, with the project's
    unchanged gimbal_small_2d pitch gimbal and camera assembly.
  </description>
  <depend>
    <model>
      <uri>model://gimbal_small_2d</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://hummingbird</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
